/CaseCommand.class
/Program.class
/CaseCommandInvalidInput.class
/RailFenceCommand.class
/NumericalCommand.class
/MainCommandException.class
/NrOfCommandsNotValidException.class
/NumberFormatException.class
